ul {
  list-style-type: none; /* Remove bullets */
  padding: 0; /* Remove padding */
  margin: 0; /* Remove margins */

}
li {
    cursor:default;
}
/*
li:hover {
  background-color: yellow;
}
*/
span {
    padding-left: 5px;
}
.entry:hover {
  background-color: yellow;
}
.main {
    padding: 10px;
}
